<li id="idea-<%= idea.id %>" class="idea-item">
  <span class="voting">
  
    
    
    
    <% if current_user.voted_for?(idea) %>
      <%= link_to upvote_idea_path(idea), :class => "glyphicon glyphicon-arrow-up teal upvote voting", method: :post, :remote => true do %>
      <% end %>
    <% else %>
      <%= link_to upvote_idea_path(idea), :class => "glyphicon glyphicon-arrow-up upvote voting", method: :post, :remote => true do %>
      <% end %>
    <% end %>
    
    <span class="votes" id="idea-<%= idea.id %>-votes"><%= idea.plusminus || 0 %></span>

    <% if current_user.voted_against?(idea) %>    
      <%= link_to downvote_idea_path(idea), :class => "glyphicon glyphicon-arrow-down teal downvote voting", method: :post, :remote => true do %>
      <% end %>
    <% else %>
      <%= link_to downvote_idea_path(idea), :class => "glyphicon glyphicon-arrow-down downvote voting", method: :post, :remote => true do %>
      <% end %>
    <% end %>
  
  </span>
  <span class="body"><%= idea.body %></span>
  <span class="completion"><%= check_box_tag("idea-#{idea.id}", idea.id, idea.completion_status) %></span>
</li>